.sign-in-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-in-olive{
    margin-top: 44px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-left: 30px;
}

.sign-in-title {
    font-size: 64px;
    margin-bottom: 30px;
    color: #333;
    line-height: 1.2;
    text-align: center;
}

.sign-in-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 16px;
    width: 90%;
}

.sign-in-form-input {
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sign-in-form-input .MuiOutlinedInput-root {
    border-radius: 4px;
}

.sign-in-form-input .MuiOutlinedInput-input {
    color: #333;
    background-color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sign-in-form-input .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #333;
}

.sign-in-form-input .MuiInputLabel-root.Mui-focused {
    color: #333;
}

.sign-in-form-button.MuiButton-root {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    border: 1px solid #333;
    border-radius: 4px;
    color: #ffffff;
    background-color: #333;
    height: 56px;
    text-transform: none;

}
