body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.mode-container {
    width: 100%;
    max-width: 100%;
    padding: 0 25px;
    margin: 144px auto 0;
    box-sizing: border-box;
}

.mode-title {
    font-size: 64px;
    margin-bottom: 30px;
    color: #333;
    line-height: 1.2;
}

.mode-buttons {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 104px;
    width: 100%;
}

.mode-button {
    font-size: 40px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    padding: 35px;
    width: 100%;
    box-sizing: border-box;
    text-align: left;

    position: relative;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
}
.mode-button:active {
    box-shadow: 0 0 45px rgb(1, 1, 1);
    transform: scale(0.98);
}
.mode-button canvas {
    position: absolute;
    z-index: 0;
}
.mode-button span {
    position: relative;
    z-index: 1;
}