.account-icon {
    position: absolute;
    right: 35px;
    top: 20px;
    width: 30px;
    height: 30px;
}

.menu-template-title {
    font-size: 64px;
    margin-bottom: 30px;
    color: #333;
    line-height: 1.2;
    margin-left: 35px;
}

.cocktail-search-container {
    margin-left: 35px;
    margin-right: 35px;
}

.cocktail-search {
    position: absolute;
    padding: 0 10px;
    width: 100%;
}

.cocktail-search .MuiOutlinedInput-root {
    height: 45px;
}

.bar-name {
    margin-left: 35px;
    font-size: 24px;
    text-decoration: underline;
    color: #333;
    font-weight: 300;
    margin-bottom: 10px;
    display: inline-block;
}

.menu-cards {
    margin-left: 35px;
    margin-right: 35px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.menu-card {
    box-shadow: 10px 10px 5px lightgrey !important;
    border: 1px solid #333 !important;
    border-radius: 4px;
    background-color: #F7F6F3 !important;
}

.cocktail-drawing {
    box-sizing: border-box;
    width: 100%;
    height: 220px;
    display: block;

    /* outline: 2px solid red; */
}

.card-title {
    display: flex;
    justify-content: center;
    transform: translateY(-18px);
}

.no-cocktail-text {
    display: flex;
    justify-content: center;
    margin-top: 50%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.menu-flipped-card {
    justify-content: center;
    margin: 227px 27px;

}

.menu-flipped-card-content {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid #333 !important;
    border-radius: 4px;
    background-color: #EFEEEC !important;
    position: relative;
    box-sizing: border-box;
}

.cocktail-name {
    margin-top: 0;
    padding-top: 5px;
    font-size: 32px;
    padding-left: 20px;
}

.learn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.learn-cocktail {
    margin: 0;

}

.learn-arrow {
    margin: 0;
}