.selected-ingredients-frame {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 20px;
}

.selected-ingredient-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 12px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #EFEEEC;
}

.ingredient-name {
    font-weight: 400;
    font-size: 20px;
}

.ingredient-input {
    width: 60px;
    height: 42px;
    border: none;
    font-size: 20px;
    background-color: #EFEEEC;
    outline: none;
    text-align: center;
}

.ingredient-input::-webkit-outer-spin-button,
.ingredient-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.ingredient-input[type="number"] {
    appearance: textfield;
}

.ingredient-unit {
    font-size: 20px;
    color: #333;
}
