body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.mode-container {
    width: 100%;
    max-width: 100%;
    padding: 0 25px;
    margin: 144px auto 0;
    box-sizing: border-box;
}

.mode-title {
    font-size: 64px;
    margin-bottom: 30px;
    color: #333;
    line-height: 1.2;
}

.mode-buttons {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 104px;
    width: 100%;
}

.mode-button {
    font-size: 40px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    padding: 35px;
    width: 100%;
    box-sizing: border-box;
    text-align: left;

    position: relative;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
}
.mode-button:active {
    box-shadow: 0 0 45px rgb(1, 1, 1);
    transform: scale(0.98);
}
.mode-button canvas {
    position: absolute;
    z-index: 0;
}
.mode-button span {
    position: relative;
    z-index: 1;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_title {
    font-size: 64px;
    margin-bottom: 30px;
    color: #333;
    line-height: 1.2;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 16px;
    width: 90%;
}

.form-input {
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-input .MuiOutlinedInput-root {
    border-radius: 4px;
}

.form-input .MuiOutlinedInput-input {
    color: #333;
    background-color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-input .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #333;
}

.form-input .MuiInputLabel-root.Mui-focused {
    color: #333;
}

.form-button .MuiButton-root {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    border: 1px solid #333;
    border-radius: 4px;
    color: #ffffff;
    background-color: #333;
    height: 56px;
    text-transform: none;

}
