.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form-title {
    font-size: 64px;
    margin-bottom: 30px;
    color: #333;
    line-height: 1.2;
    text-align: center;
}

.form-subtitle {
    font-size: 48px;
    margin-bottom: 30px;
    color: #333;
    line-height: 1.2;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 16px;
    width: 90%;
}

.form-input {
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-input .MuiOutlinedInput-root {
    border-radius: 4px;
}

.form-input .MuiOutlinedInput-input {
    color: #333;
    background-color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-input .MuiOutlinedInput-root.Mui-focused.MuiOutlinedInput-notchedOutline {
    border-color: #333;
}

.form-input .MuiInputLabel-root.Mui-focused {
    color: #333;
}

.form-button.MuiButton-root {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    border: 1px solid #333;
    border-radius: 4px;
    color: #fff;
    background-color: #333;
    height: 56px;
    text-transform: none;

}

.ask-text{
    color:#333;
    padding-left: 14px;
}

.alert-field{
    color:#B6DDB1;
}