body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.mode-container {
    width: 100%;
    max-width: 100%;
    padding: 0 25px;
    margin: 144px auto 0;
    box-sizing: border-box;
}