name: ci.yml

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ">=20 <21"
      - uses: actions/cache@v3
        with:
          path: |
            ~/.npm
            ~/.cache/ms-playwright
          key: ${{ runner.os }}-node-${{ hashFiles('package-lock.json', 'backend/package-lock.json') }}


      - name: Install dependencies
        run: npm ci

      - name: Install backend dependencies
        working-directory: backend
        run: npm ci

      - name: Run ESLint
        run: npm run lint

      - name: Run Prettier check
        run: npm run format

      - name: Run Stylelint
        run: npm run lint:style

      - name: Run Unit Tests with coverage
        run: npm run test:coverage

      - name: Check coverage threshold (80%)
        run: |
          COVERAGE=$(node -pe "require('./coverage/coverage-summary.json').total.lines.pct")
          echo "Coverage: $COVERAGE%"
          if (( $(echo "$COVERAGE < 80" | bc -l) )); then
            echo "!!!Coverage ниже 80%!!!"
            exit 1
          fi

      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - name: Run e2e Tests
        run: npx playwright test
